<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhxg.yqzj.entities.v1.AttentionReportInfo">

	<!-- 获取用户下所有数据分类 -->
	<resultMap type="com.zhxg.yqzj.entities.v1.AttentionReportInfo" id="AttentionReportInfo">
		<result property="infoUuid" column="KM_UUID"/>
		<result property="kvUuid" column="KV_UUID"/>
		<result property="title" column="KV_TITLE"/>
		<result property="summary" column="KV_ABSTRACT"/>
		<result property="content" column="KV_CONTENT"/>
		<result property="webName" column="KV_SITE"/>
		<result property="sourceType" column="KV_SOURCETYPE"/>
		<result property="infoUrl" column="KV_URL"/>
		<result property="orientation" column="KV_ORIENTATION"/>
		<result property="publishTime" column="KV_CTIME"/>
		<result property="keyWord" column="KV_KEYWORD"/>
		<result property="visitCount" column="KV_VISITCOUNT"/>
		<result property="replyCount" column="KV_REPLY"/>
	</resultMap>
	
	<select id="getAttentionByKmuuid" parameterType = "java.util.Map" resultMap="AttentionReportInfo">
			SELECT 
				a.KM_UUID,
				a.KV_UUID,
				a.KV_TITLE,
				a.KV_ABSTRACT,
				b.KV_CONTENT,
				a.KV_SITE,
				a.KV_SOURCETYPE,
				a.KV_URL,
				a.KV_ORIENTATION,
				a.KV_CTIME,
				a.KV_KEYWORD,
				a.KV_VISITCOUNT,
				a.KV_REPLY
			FROM 
				${_DBNAME}.WK_T_MYATTENTION_INFO a,
				${_DBNAME}.WK_T_MYATTENTION_INFOCNT b
			WHERE  
				a.KM_UUID = b.KM_UUID
			AND
				a.KM_UUID IN
			<if test="kmUuidArr != null and kmUuidArr.length != 0">
				<foreach collection="kmUuidArr" item="kmUuid" index="index" open="(" separator="," close=")">
					#{kmUuid}
				</foreach>
			</if>
	</select>
</mapper>